.welcome-container {
    background: black;
    display: flex;
    width: 100vw;
    justify-content: center;
    animation-name: welcome;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.transition {
    transition: height 1s ease;
}

#welcome-btn {
    background-color: black;
    border-color: #23272f;
    text-align: center;
    font-size: 25px;
}

#welcome-btn:hover {
    background-color: #23272f;
    border-color: white;
}

#app-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

@keyframes welcome {
    from {color: #23272f;}
    to {color: white;}
}